.App {
  text-align: center;
}

.App-header {
  min-height:20rem;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  background: url(https://images4.alphacoders.com/107/1072743.jpg);
  background-size: cover;
  background-position: bottom;

}

.App-header h1 {
  margin-bottom: 0;;
}

.credits {
  font-size: calc(5px + 1vmin);
  color: white;
  padding-left: 17rem;
  font-style: italic;
}

a {
  color: #61dafb;
  text-decoration: none;
}

p {
  font-size: calc(10px + 1vmin);
  color: white;
  margin: 0px;
}

.tabs-container {
    width: 100%;
    margin: 20px auto;
}

.tabs {
    display: flex;
}

.tab {
    cursor: pointer;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-bottom: none;
    background-color: gray;
    border-radius: 5px 5px 0 0;
    flex-grow: 1;
}

.tab.active {
    background-color: blue;
}

.tab-content {
    align-items: center;;
    padding: 10px;
    width: 100%;
    margin: auto;
}

.tab-content p{
    font-size: calc(10px + 1vmin);
    color: white;
    margin-bottom: 10px;
}
.weatherbox {
    font-size: calc(10px + 2vmin);
    color: white;;
}